.icon {
	padding-top: 150px;
}

.socials {
	padding-top: 120px;
}
.slide-left {
	transition: all 0.5s ease;
}

.slide-left:hover {
	transform: translate(-250px);
}

.container {
	position: relative;
	text-align: center;
	transition: all 1s ease;
}

.section{
}

.layer{
	transition: transform 0.5s ease;
}

.section:hover .layer { 
	opacity:1; 
	transform:translate(-180px, -155px); 
}

h2 {
	font-weight:normal;
	font-family: Courier;
	font-size: large;
}

.text {
	position: absolute;
	top:50%;
	left: 60%;
	transform: translate(-50%, -100%);
	opacity:0;
	color: red;
}


a {
	text-decoration: none !important;
}